# Node.js
node_modules/
npm-debug.log
yarn-error.log
dist/
.env

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
**/data/*

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Optional: coverage, build
coverage/
build/
